<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Andrii Divnych</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/lessons">Your profile</a>
      <a class="nav-item nav-link" href="/lessons">Lessons</a>
      <a class="nav-item nav-link active" href="/login">Log in</a>
    </div>
  </div>
</nav>
</header>

<body>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Create new lesson</h1>
      <br>
      <h5 class="jumbotron-heading">You lesson will be available to all users on the main lessons page</h5>
    </div>
  </section>
  <div class="modal-body">
  <div class="modal-body">
    <form class='login-form'>
      <style>
      .login-form {
        max-width:500px;
        margin:auto;
      }
      </style>
    <div class="form-group">
      <label for="title">Title</label>
      <input  class="form-control" id="title" placeholder="Title">
      <br>
      <label for="content">Lesson description</label>
        <textarea name="textarea" id="content" rows="4" cols="68", placeholder="Description"></textarea>
      <style>
        textarea {
          resize: none;
          }
      </style>
    </div>
    <button  type="button"  class="btn btn-dark btn-lg btn-block login-btn mb-2 mt-2" id="create" >Post</button>
  </form>


  <script >
    $("#create").click(function(){
      create();
    });
        function create(){
            title = document.getElementById("title").value;
            content = document.getElementById("content").value;
            author = localStorage.getItem('Email')
            console.log(1);
            $.ajax({
              type:"POST",
              headers: { "Authorization": 'Bearer ' + localStorage.getItem('JWTToken')},
              url:'/api/lessons/',
              data:{
                  'tittle':title,
                  'content':content,
                  'author':author,
              },
              success: function (data) {
                console.log(data);
                window.location.href = 'http://127.0.0.1:8000/lessons';
                },
          });
        }
  </script>
