<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>Lesson #{{ lesson_id }}</title>
 </head>
<body>
  <!doctype html>
  <html lang="en">
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Andrii Divnych</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/lessons">Lessons</a>
            <a class="nav-item nav-link active" href="/login">Log in</a>

          </div>
        </div>
      </nav>
      </header>
      <main role="main">
        <div class="jumbotron">
          <div align="center">
            <h1  >Lesson with title </h1>
            <h4><label></label> <span id="tittle"></span></h4>
            <br>
            <h5><label>Published by: </label> <span id="author"></span></h5>
            <p><label> Published:</label> <span id="pub_date"></span></p>
            <p><label> </label> <span id="content"></span></p>
            <br>
            <br>
            <br>
            <button id="like" class = "like"><i class="fa fa-heart" style="font-size:35px;color:red"></i></button>
            <style media="screen">
              .like{
                padding: 0;
                border: none;
                background: none;
              }
            </style>
            <p><label></label> <span id="likes"></span></p>

</div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
 $.ajax({
          url : "http://127.0.0.1:8000/api/lessons/{{ lesson_id }}",
          dataType : "json",
          headers: { "Authorization": 'Bearer ' + localStorage.getItem('JWTToken')},
          success : function (data) {
                   console.log(data)
                   $('#tittle').text( data.tittle );
                   $('#content').text( data.content );
                   $('#pub_date').text( data.pub_date );
                   $('#author').text( data.author.name );
                 }
              })
 </script>

 <script type="text/javascript">
  $.ajax({
           url : "http://127.0.0.1:8000/api/lessons/{{ lesson_id }}/likes",
           dataType : "json",
           headers: { "Authorization": 'Bearer ' + localStorage.getItem('JWTToken')},
           success : function (data) {
                    console.log(data)
                    $('#likes').text( data.count );
                  }
               })
  </script>

  <script>
    $(document).ready(function(){
      console.log(1);
      $("#like").click(function(){
        like();
      });
          function like(){
              $.ajax({
                type:"POST",
                headers: { "Authorization": 'Bearer ' + localStorage.getItem('JWTToken')},
                url:"http://127.0.0.1:8000/api/lessons/{{ lesson_id }}/likes/toggle/",
                  success: function (data) {
                      window.location.href = "http://127.0.0.1:8000/lessons/{{ lesson_id }}"
                  },
              });
          }
      });
  </script>
