{% extends "base.html" %}
{% block content %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hi, I`m Andrew</h1>
      <p class="lead text-muted">This is test homepage for capstone project</p>
      <p class="lead text-muted">To have access to all features, please, register or log in, if you already have a account</p>
      <p class="lead text-muted">Have a great day</p>
      <br>
        <a class="btn btn-dark" href="/register">Register here!</a>
        <br>
        <br>
    </div>
  </section>
</main>

{% endblock content %}
