<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Andrii Divnych</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#">Lessons</a>
          <a class="nav-item nav-link active" href="/login">Log in</a>

        </div>
      </div>
    </nav>
    </header>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Register here</h1>
        </div>
      </section>
    </main>
    <div class="modal-body">
      <form class='login-form'>
        <style>
        .login-form {
          max-width:500px;
          margin:auto;
        }
        </style>
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword">Create Password</label>
          <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" />
        </div>
        <button type="button"  class="btn btn-dark btn-lg btn-block login-btn mb-2 mt-2" id="but" >Sign up</button>
      </form>
    </div>
  <footer class="text-muted">
    <style>
    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height:100px;
      }
   </style>
  <div class="container text-center">
    <p>© Copyright Andrii Divnych {% now "Y" %}</p>
    <p class="float-right">
    <p>Oh hi:)!</p>
  </div>
</footer>
</html>

    <script >
    $(document).ready(function(){
      console.log(1);
      $("#but").click(function(){
        signup();
      });
          function signup(){
              email = document.getElementById("exampleInputEmail").value;
              name = document.getElementById("exampleInputName").value;
              password = document.getElementById("exampleInputPassword").value;
              $("#erroremail").html("");
              $("#errorpass").html("");
              $.ajax({
                type:"POST",
                url:'/api/auth/',
                data:{
                    'name':name,
                    'email':email,
                    'password':password,
                },
                success: function (data) {
                  console.log(data);
                  window.location.href = 'http://127.0.0.1:8000/login/';
                  },
            });
          }
        });
    </script>
